<div class="address-info ">
    <h1>Addrees Info:</h1>
    <img src="https://i.ibb.co/4SZkhkW/sdf.png" alt="logo">
    <p></p>
    <b>Address Complete Name: {{address.displayName}}</b>
    <ul>
        <li>Street: {{address.street}}</li>
        <li>City: {{address.city}}</li>
        <li>County: {{address.county}}</li>
        <li>State: {{address.state}}</li>
        <li>Country: {{address.country}}</li>
        <li>Postal Code: {{address.postalCode}}</li>
        <li>Latitude: {{address.latitude}}</li>
        <li>Longitude: {{address.longitude}}</li>
    </ul>
</div>