<form  [formGroup]="applyForm" (submit)="onSubmit()">
    <div class="form-control">
      <label for="street">Street:</label>
      <input type="text" id="street" name="street"  formControlName="street" required>
    </div>
    
    <div class="form-control">
      <label for="city">City:</label>
      <input type="text" id="city" name="city"  formControlName="city" required>
    </div>
  
    <div class="form-control">
      <label for="county">County:</label>
      <input type="text" id="county" name="county" formControlName="county" required>
    </div>
  
    <div class="form-control">
      <label for="state">State:</label>
      <input type="text" id="state" name="state" formControlName="state" required>
    </div>
  
    <div class="form-control">
      <label for="country">Country:</label>
      <input type="text" id="country" name="country" formControlName="country" required>
    </div>
  
    <div class="form-control">
      <label for="postalCode">Postal Code:</label>
      <input type="text" id="postalCode" name="postalCode" formControlName="postalCode" required>
    </div>
  
    <div class="form-control">
      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email" formControlName="email" required>
    </div>
  
    <div class="form-control form-control-check">
      <label for="sendByEmail">send address to email:</label>
      <input type="checkbox" id="sendByEmail" name="sendByEmail" formControlName="sendByEmail">
    </div>
    <button type="submit" [disabled]="isLoading"  [class.disabled-button]="isLoading">Submit</button>
  </form>