/* Basic form styling */
form {
    display: flex;
    flex-direction: column;
    width: 400px; 
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;

}

.form-control {
  margin-bottom: 10px;
}

.form-control label {
    display: block;
}
  
.form-control-check {
    font-size: 16px;;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-control-check label {
  flex: 2;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
/* Label and input styles */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 5px;
  font-size: 17px;
}

/* Checkbox styling */
input[type="checkbox"] {
  margin-right: 5px;
}

/* Button styling */
button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50; /* Adjust color */
  color: white;
  border: none;
  border-radius: 9px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #449A44; /* Adjust hover color */
}

.error {
  border: 1px solid red;
}


/* Media queries for responsiveness */

@media only screen and (max-width: 768px) {
    form {
      width: 100%; /* Adapt to full width on smaller screens */
      padding: 10px;
    }
  
    .form-control {
      margin-bottom: 5px;
    }
  
    input[type="text"],
    input[type="email"] {
      font-size: 14px;
    }
  
    button {
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    /* Additional modifications for even smaller screens */
    /* For example, adjust label sizes or switch to single-column layout */
  }